<style type="text/css">
/* FOR OVERLAY ELEMENT */
.django-inapp-survey-overlay {
  background: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: all 200ms;
}

/* FOR ANNOUNCEMENT ELEMENT */
.django-inapp-survey-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ccc;
  max-height: 50%;
  overflow: auto;
  z-index: 99;
}
.django-inapp-survey-announcement p {
  margin: 0;
}
.django-inapp-survey-wrapper.campaign {
    cursor: pointer;
}
.django-inapp-survey-wrapper.campaign a {
    pointer-events: none;
}
.django-inapp-survey-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}
.django-inapp-survey-announcement {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1000px) {
    .django-inapp-survey-announcement {
        padding-right: 25px;
    }
}

/* FOR CAMPAIGN ELEMENT */
.django-inapp-survey-campaign {
    box-sizing: border-box;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px 20px;
    height: 100%;
    overflow: auto;
}
@media screen and (max-width: 600px) {
    .django-inapp-survey-campaign {
        padding-right: 25px;
    }
}
.django-inapp-survey-campaign form input[type=text], .django-inapp-survey-campaign form textarea {
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}
.django-inapp-survey-campaign form ul.question-options {
  list-style: none;
  padding: 0;
}
.django-inapp-survey-campaign .footer .navigate-buttons {
  float: right;
}
/* FOR CAMPAIGN SUCCESS ELEMENT */
.django-inapp-survey-success {
  font-size: 150px;
  text-align: center;
}
</style>
<!-- Overlay Template -->
<script id="django-inapp-survey-overlay-template" type="text/x-custom-template">
  <div class="django-inapp-survey-overlay"></div>
</script>
<!-- Announcement Template -->
<script id="django-inapp-survey-announcement-template" type="text/x-custom-template">
  <div class="django-inapp-survey-wrapper">
    <div class="django-inapp-survey-close"><i class="fa fa-close"></i></div>
    <div class="django-inapp-survey-announcement"></div>
  </div>
</script>
<!-- Campaign Template -->
<script id="django-inapp-survey-campaign-template" type="text/x-custom-template">
  <div class="django-inapp-survey-wrapper">
    <div class="django-inapp-survey-close"><i class="fa fa-chevron-down"></i></div>
    <div class="django-inapp-survey-campaign">
      <form class="django-inapp-survey-campaign-form">
      </form>
      <div class="footer">
        <span class="step-progress">Step <span class="current-step"></span> of <span class="total-step"></span></span>
        <div class="navigate-buttons">
          <button class="previous-button">Previous</button>
          <button class="next-button">Next</button>
          <button class="submit-button">Submit</button>
        </div>
      </div>
    </div>
  </div>
</script>
<!-- Campaign Success Template -->
<script id="django-inapp-survey-success-template" type="text/x-custom-template">
  <div class="django-inapp-survey-wrapper">
    <div class="django-inapp-survey-success">
        <img src="/static/images/survey-finished.svg"/>
    </div>
  </div>
</script>
<!-- Global Variables -->
<script type="text/javascript">
  var inappSurveyParams = {
      customParams: {{custom_params|safe}},
      userId: {{request.user.id|default_if_none:0}},
      isAuthenticated: '{{user.is_authenticated|yesno}}'==='yes'
  };
</script>
<link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/font-awesome.min.css"></link>
<script>window.showdown || document.write('<script src="/static/bower_components/showdown/dist/showdown.min.js">\x3C/script>');</script>
<script src="/static/javascript/extended-markdown.js"></script>
<script src="/static/javascript/script.js"></script>
